<div class="container-float xxl">
    <ngb-carousel>
        <ng-template ngbSlide>

          <div>
            <img src="../../../assets/img/Imagem1 Carrosel.jpg"  class="img1" alt="Random first slide">
          </div>
          <div class="carousel-caption textos-home">
            <h1 [routerLink]="'/login'">Entrar</h1>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div >
            <img src="../../../assets/img/imagem2 Carrosel.jpg"  class="img1" alt="Random second slide">
          </div>
          <div class="carousel-caption textos-home">
            <h1>Loja de todos os tempos</h1>
            <p></p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div >
            <img src="../../../assets/img/imagem3 Carrosel.jpg" class="img1" alt="Random third slide">
          </div>
          <div class="carousel-caption textos-home">
            <h1>Clientes Satisfeitos</h1>
            <p>Satisfazer o cliente é obrigação, o diferencial é mantê-lo encantado</p>
          </div>
        </ng-template>
      </ngb-carousel>
</div>